.exploration {
    padding: 218px 0 228px;
    background-image: url('../images/content/outdoor_images.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    @media screen and (max-width:1450px) {
        background-position: none;
     }
    @media screen and (max-width:992px) {
        padding-top: 100px;
        padding-bottom: 150px;
    }
    @media screen and (max-width:576px) {
        padding-top: 50px;
        background-image: none;
        text-align: center;
        padding-bottom: 10px;
    }
    

    &__subtitle {
        width: 40%;
        font-family: 'Roboto';
        font-size: $font-size-xl-l;
        line-height: 1.2;
        color: $white;
        margin-bottom: 9px;
        @media screen and (max-width:992px) {
            font-size: $font-size-lg;
            width: 70%;
            color: $white;
        }
        @media screen and (max-width:576px) {
            margin: 20px auto;
           font-size: $font-size-md-l;
           color: $dark_shade_of_gray_x;
        }
    }
    &__desc {
        width: 50%;
        font-family: 'Poppins';
        font-size: $font-size-md;
        line-height: 1.4;
        color: $chinese_silver;
        @media screen and (max-width:992px) {
            width: 60%;
        }
        @media screen and (max-width:576px) {
            width: 100%;
            color: $dark-grayish;
        }
    }
}