
.container {
    width: 100%;
    max-width: 1138px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-family: 'Poppins';
    font-size: $font-size-sm;
    line-height: 1.4;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $last_sunlight; 
}
.subtitle {
    font-family: 'Roboto';
    font-size: $font-size-l-l;
    line-height: 1.2;
    color: $dark-grayish;
}
.desc {
    font-family: 'Poppins';
    font-size: $font-size-sm-lx;
    line-height: 1.2;
    color: $dark-grayish;
}

.btn-link {
    font-family: 'Poppins';
    font-size: $font-size-sm-l;
    line-height: 1.4;
    color: $dark-grayish;
}

.arrow {
    margin-left: 4px;
}

.header-button {
    display: inline-block;
    width: 143px;
    background-color: $dark-grayish;
    color: $white;
    font-family: 'poppins';
    font-size: $font-size-sm-lx;
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
        cursor: pointer;
        &:hover {
        opacity: 0.9;
        }

        &--invers {
            width: 125px;
            position: relative;
            margin-left: 20px;
            @media screen and (max-width:992px) {
                width: 143px;
            }
            

            &::before {
                content: url('../images/content/Vector.svg');
                position: absolute;
                left: 20px;
                bottom: 7px;
            }

            &:after {
                content: url('../images/content/frame.svg');
                position: absolute;
                right: 16px; 
                bottom: 6px;              
            }
        }
}
