
$black: #000000;
$white: #ffffff;
$dark-grayish: #575445; 
$dark_shade_of_gray: #444444; 
$dark_shade_of_gray_x: #222222;
$chinese_silver: #CACCD1;
$last_sunlight: #E6B939;
$ghost_white: #FAFAFC;

$font-family-main: 'poppins', Arial, Helvetica, sans-serif;


$font-size-sm: 14px;
$font-size-sm-l: 15px;
$font-size-sm-lx: 16px;
$font-size-md: 18px;
$font-size-md-l: 20px; 
$font-size-lg: 24px;
$font-size-lg-l: 28px;
$font-size-l: 30px;
$font-size-l-l:36px;
$font-size-xl: 40px; 
$font-size-xl-l: 48px;
$font-size-xll: 62px;